<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">E-COM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse parent" id="navbarSupportedContent" style="margin-left: 34%;">
        <div *ngIf="menuType==='default'" class="child1">
            <form class="form-inline my-2 my-lg-0" style="display: flex; width: 124%;">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search"
                    style="border-radius: 25px;">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                    style="border-radius: 30px;">Search</button>
            </form>
        </div>
        <div [ngSwitch]="menuType" class="child2" style="margin-left: 30%;">
            <ul class="navbar-nav mr-auto" *ngSwitchCase="'default'">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="seller-auth">Seller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Cart</a>
                </li>

            </ul>
            <ul class="navbar-nav mr-auto" *ngSwitchCase="'seller'">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="seller-add-product" >Add Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="seller-home">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">{{sellerName | titlecase}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>