<div class="add-product">

    <h1>
        Add New Product
    </h1>
    <p class="message">{{addProductMessage}}</p>

    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <input class="form-input" type="text" ngModel name="name" placeholder="Enter Product Name">
        <input class="form-input" type="text" ngModel name="price" placeholder="Enter Product price">
        <input class="form-input" type="text" ngModel name="color" placeholder="Enter Product color">
        <input class="form-input" type="text" ngModel name="category" placeholder="Enter Product category">

        <textarea class="form-input" type="text" ngModel name="description"
            placeholder="Enter Product description"></textarea>

        <input class="form-input" type="text" ngModel name="img" placeholder="Enter img url">

        <div class="container">

            <a type="submit" class="button">
              <div class="button__line"></div>
              <div class="button__line"></div>
              <span class="button__text"><button class="btnn">Add Product</button></span>
              <div class="button__drow1"></div>
              <div class="button__drow2"></div>
            </a>
          
          </div>
    </form>



</div>