.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}

a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    cursor: pointer;
    transition: var(--transition);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color:
         blueviolet;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
}

a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

p{
    text-align: center;
    color: rgb(255, 0, 0);
}